body{
   
    
    background-image: url("../images/Main_Background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
}
.pf {
    display: inline-block;
    left: 25%;
    width: 50%;
    position: relative;
    animation-name: pf;
    animation-duration: 3s;
    
}
@keyframes pf{
    0% {left: -10%;}
    100% {left: 25%;}
    
}
@media only screen and (max-width: 1000px) {

    .pf {
        left: 0%;
        margin-top: auto;
        width: 1000px;

    }
    @keyframes pf{
        0% {left: -30%;}
        100% {left: 0%;}
        
    }
    
}