





html,body {
   
   background-image: url("../images/backgound_c.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   height: 100%;
   
   
}
#main_c {
    color: floralwhite;
    min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -50px;
     
    display: flex;
    flex-direction: column;
    

}

.tel {
    
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
    
    text-decoration: none;
   font-weight: bold;
   font-size: 100px;
}


.Numbers {
   
    display: flex;
   margin: 0 auto;
   flex-direction: column;
   margin-top: 30px;
    
}

.Contact{
   margin-left: -110px;
   
    width: auto; 
    height: 120px;
    position: absolute;
    
}

#mailsrc {
    margin-left: -130px;
    margin-top: -10px;
    height: 150px;
  
}

#text {
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 25px;
}

.st{
    margin-left: 30px;
    width: 5%;
    height: 5%;
}

#adress {
    font-size: 20px;
    
    font-family: 'Nunito', sans-serif;
    line-height:200%;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50px;
    text-align: center;
    
}


#footer {
    margin-top: 70px;
}



.tel:hover {
    
    animation-name: tel;
    
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes tel {
     15% {color: rgb(255, 255, 255);}
     50% {color:rgb(90, 90, 90);
         text-shadow: 0px 0px 10px floralwhite;
            }
     1000% {color: rgb(255, 255, 255);}

}

#mailsrc:hover {
    animation-name: mail;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes mail {
      
      
      100% {transform: rotate(360deg);}
}


@media only screen and (max-width: 1000px)
{


    .Numbers {
        margin-top: 150px;
    }
    .s_a {
        margin-top: 1000px;
        position: absolute;
        font-size: 35px;
        bottom: 0;
       
       
        
    }
    .st {
        
        width: 100px;
        
        
    }

    #em {
        margin-top: 100px;

    }
    #address {
      position: absolute;
      bottom: 0;

    }

    
    
    #footer {
        
        height: 200px; 

    }
    .fl {
        width: 600px;
    }

    

}