
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Exo+2:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');

 body {
    background: rgb(240,245,243);
    background: linear-gradient(169deg, rgba(240,245,243,1) 0%, rgba(160,229,232,1) 65%, rgba(45,59,57,1) 100%);
    background-attachment: fixed;
    
 }
 .callus {
     margin-top: 50px;
     margin-left: 50px;
     font-family: 'Alegreya Sans', sans-serif;
 }

 .Contact {
     
     margin-top: 5px;
     margin-left: 45px;
     width: 5%;
     
 }

 #links {
     display: flex;
     flex-direction: column;

 }

 .number {
    color: rgb(68, 68, 68);
     display: inline-block;
     margin-top: 25px;
     margin-left: 50px;
     font-family: 'Exo 2', sans-serif;
     font-weight: 600;
    font-size: 250%;
    text-decoration: none;
     
 }

 #vod {
     width: 3%;
     margin-left: 55px;
 }
 
 #mail {
     
     position: absolute;
     margin-top: 20px; 
     right: 50px;
     font-size: 50px;
     text-decoration: none;
     font-weight: 600;
     font-family: 'Fira Sans Condensed', sans-serif;
     color: rgb(54, 54, 54);
 }
 
.email {
    position: absolute; 
    margin-top: -55px; 
    right: 50px;
    width: 5%;
    
}
.email:hover {
    animation-name: mail;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes mail {
      
      
      100% {transform: rotate(360deg);}
}

#st {
    margin-top: 150px;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 35px;
}

#inst_c {
    width: 100px;
    margin: 10px auto 20px;
    display: block;
}
#face_c {
    width: 100px;
    margin: 10px auto 20px;
    display: block;
    
}

#street {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 200px;
}

#footer {
   
    
   bottom: 0%;
  left: 0;
  /* (A2) DIMENSIONS */

  /* (A3) CENTER TEXT */
  
}